{{#each this}}
<div class="country-card">
    <div class="country-flag">
        <img src="{{flags.svg}}" alt="" width="40">
    </div>  
  <h2 class="country-title"> {{name.official}}</h2>
</div>
{{/each}}